<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ 'Taxes' | abpLocalization }}</h5>
        </div>        
        <div class="text-end col col-md-6">
            
          <!-- Add the "new book" button here -->
          <div class="text-lg-end pt-2">
            <button id="create" class="btn-primary border border-primary" type="button" (click)="createTax()">
              <i class="fa fa-plus  me-2"></i>
              <span>{{ "::Add" | abpLocalization }}</span>
            </button>
          </div>
            
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- ngx-datatable should be here! -->

      <ngx-datatable [rows]="taxlist.items" [count]="taxlist.totalCount" [list]="list" default>
      

        <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editTax(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
  
        <ngx-datatable-column [name]="'::Tax Name' | abpLocalization" prop="taxName">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Tax Percentage' | abpLocalization" prop="taxPercentage">
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
  </div>
  
  <!-- Add the modal here -->
  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <!-- <h3>{{ ':: Add Tax ' | abpLocalization }}</h3> -->
      <h3>{{ (selectedTax.id ? '::Edit Tax' : '::Add Tax' ) | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody>
        <form [formGroup]="taxform" (ngSubmit)="save()">
          <div class="form-group">
            <label for="TaxName">Tax Name</label><span class="required"> * </span>
            <input type="text" id="TaxName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['taxName'].errors}"  placeholder="Tax Name" formControlName="taxName" autofocus />
            <div *ngIf="submitted && f['taxName'].errors" class="invalid-feedback">
              <div *ngIf="f['taxName'].errors['required']">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="TaxPercentage">Tax Percentage (%)</label><span class="required"> * </span>
            <input type="number" id="TaxPercentage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['taxPercentage'].errors}"  placeholder="Tax Percentage" formControlName="taxPercentage" autofocus />
            <div *ngIf="submitted && f['taxPercentage'].errors" class="invalid-feedback">
              <div *ngIf="f['taxPercentage'].errors['required']">This field is required</div>
            </div>
          </div>
        </form>
      </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
      <!--added save button-->
    <button class="btn btn-primary" (click)="save()">
        <i class="fa fa-check  me-2"></i>
        {{ '::Save' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>