<div class="card-body">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-md-6">
            <h5 class="card-title">{{ 'Add Delivery boy' | abpLocalization }}</h5>
            <!-- <h3>{{ (selectedArea.id ? '::Edit area' : '::Add Area' ) | abpLocalization }}</h3> -->
          </div>
          <div class="text-end col col-md-6">
          </div>
        </div>
      </div>
      <div class="card-body">
        <form class="row g-3" [formGroup]="deliveryboyaddform"  enctype="multipart/form-data">

          <div class="form-group col-md-6">
            <label for="Boy Name">Delivery Boy Name</label><span class="required"> * </span>
            <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f['boyName'].errors }"  placeholder="Name" formControlName="boyName" autofocus />
            <div *ngIf="submitted && f['boyName'].errors" class="invalid-feedback">
              <!-- <div *ngIf="f['boyName'].errors['required']">Delivery Boy Name is required</div> -->
              <!-- <div *ngIf="f['boyName'].errors['minlength']">
                Delivery Boy Name must be at least 6 characters
              </div>
              <div *ngIf="f['boyName'].errors['maxlength']">
                Delivery Boy Name must not exceed 20 characters
              </div> 
              <div *ngIf="f['boyName'].errors['pattern']">
                Delivery Boy Name start with uppercase letter
              </div> -->
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="BoyPhone">Delivery Boy Phone</label><label class="required">*</label>
            <input type="number" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f['boyPhone'].errors }" placeholder="Phone No" formControlName="boyPhone" autofocus />
            <div *ngIf="submitted && f['boyPhone'].errors" class="invalid-feedback">
              <!-- <div *ngIf="f['boyPhone'].errors['required']">Phone number is required</div> -->
              <div *ngIf="f['boyPhone'].errors['pattern']">Phone number is 10 digit</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="BoyUsername">Delivery Boy Username</label><span> * </span>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['boyUsername'].errors }" placeholder="Username" formControlName="boyUsername" autofocus />
            <div *ngIf="submitted && f['boyUsername'].errors" class="invalid-feedback">
              <!-- <div *ngIf="f['boyUsername'].errors['required']">Username is required</div> -->
              <!-- <div *ngIf="f['boyUsername'].errors['minlength']">
                Username must be at least 6 characters
              </div>
              <div *ngIf="f['boyUsername'].errors['maxlength']">
                Username must not exceed 20 characters
              </div> -->
              <div *ngIf="f['boyUsername'].errors['pattern']">
                Username start with uppercase letter
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="Boyemail">Delivery Boy Email</label><span> * </span>
            <input type="text"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && f['boyEmail'].errors }" placeholder="Email" formControlName="boyEmail" autofocus />
            <div *ngIf="submitted && f['boyEmail'].errors" class="invalid-feedback">
              <!-- <div *ngIf="f['boyEmail'].errors['required']">Email is required</div> -->
              <div *ngIf="f['boyEmail'].errors['boyEmail']">Email is invalid</div>
              <div *ngIf="f['boyEmail'].errors['pattern']"></div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="CityId">City</label><span> * </span>
            <!-- <input type="text" id="CityId" class="form-control" formControlName="cityId" autofocus /> -->
            <select id="CityId" class="form-select" (change)="changeCity($event)" formControlName="cityId">
              <option value="">Select</option>
              <option [ngValue]="c.id" *ngFor="let c of city">{{c.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="IdentificationTypeId">Identification Type</label><span> * </span>
            <select id="identificationTypeId" class="form-select" (change)="changeIdentificationType($event)" 
              formControlName="identificationTypeId">
              <option value="">Select</option>
              <option [ngValue]="i.id" *ngFor="let i of identificationtype">{{i.identificationTypeName}}</option>
            </select>

            <!-- <select class="form-control" formControlName="identificationTypeId">
              <option value="">Select Type</option> -->
            <!-- <option *ngFor="let data of identificationtype; let i=index" [ngValue]="data.id">
                {{data.identificationTypeName}}
               </option> -->
            <!-- </select> -->

          </div>
          <div class="form-group col-md-6">
            <label for="IdentificationNumber">Identification Number</label><span> * </span>
            <input type="text" id="IdentificationNumber" placeholder="Identification No" class="form-control" formControlName="identificationNumber"
              autofocus />
          </div>
          <div class="form-group col-md-6">
            <label for="IdFileName">Identification FileName</label><span> * </span>
            <input type="file" id="formFile" placeholder="Identification Filename" class="form-control" (change)="imgChange($event)"formControlName="formFile" autofocus />
          </div>

          <div class="form-group col-md-6">
            <label for="IdentificationTypeId1">Identification Type 1</label><span> * </span>
            <select id="identificationTypeId1" class="form-select" (change)="changeIdentificationType1($event)" 
              formControlName="identificationTypeId1">
              <option value="">Select</option>
              <option [ngValue]="i.id" *ngFor="let i of identificationtype1">{{i.identificationTypeName}}</option>
            </select>

            <!-- <select class="form-control" formControlName="identificationTypeId">
              <option value="">Select Type</option> -->
            <!-- <option *ngFor="let data of identificationtype; let i=index" [ngValue]="data.id">
                {{data.identificationTypeName}}
               </option> -->
            <!-- </select> -->

          </div>
          <div class="form-group col-md-6">
            <label for="IdentificationNumber1">Identification Number 1</label><span> * </span>
            <input type="text" id="IdentificationNumber1" placeholder="Identification No" class="form-control" formControlName="identificationNumber1"
              autofocus />
          </div>
          <div class="form-group col-md-6">
            <label for="IdFileName1">Identification FileName 1</label><span> * </span>
            <input type="file" id="formFile" placeholder="Identification Filename" class="form-control" (change)="imgChange1($event)"formControlName="formFile1" autofocus />
          </div>

          <div class="form-group col-md-6">
            <label for="address">Address</label><span> * </span>
            <!-- <input type="text" id="address" placeholder="Address" class="form-control" formControlName="address" autofocus /> -->
            <textarea type="text" id="address" placeholder="Address" class="form-control" formControlName="address" autofocus>
            </textarea>
          </div>
          <div class="form-group col-md-6">
            <label for="storeId">All Stores</label><span> * </span>
            <ng-multiselect-dropdown formControlName="storeId" multiple idField='storeId' [placeholder]="'All selected'" 
              [settings]="dropdownSettings" [data]="this.storeName" [(ngModel)]="storeId"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
           
          </div>

          <!-- <div class="form-group col-md-6">
            <input type="text"  class="form-control" formControlName="userId" [(ngModel)]="currentUser.id" autofocus />
          </div>
          <div class="form-group col-md-6">
            <input type="text"  class="form-control" [(ngModel)]="currentUser.userName" autofocus />
          </div>
          <div class="form-group col-md-6">
            <input type="text"  class="form-control" [(ngModel)]="currentUser.email" autofocus />
          </div> -->



          <div class="col-12">
            <button class="btn btn-primary" (click)="onSubmit()" type="submit">
              Submit
            </button>
          </div>

          <!--added save button-->
          <!-- <button class="btn btn-primary" (click)="save()" [disabled]="deliveryboyaddform.invalid">
              <i class="fa fa-check  me-2"></i>
              {{ '::Save' | abpLocalization }}
              </button> -->

        </form>

      </div>
    </div>
  </div>
