<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ 'Delivery Boy Incentive' | abpLocalization }}</h5>
        </div>
        <div class="text-end col col-md-6">
  
          <!-- Add the "new book" button here -->
          <!-- <div class="text-lg-end pt-2">
            <button class="btn btn-primary" type="button"  routerLink ="/delivery-boy/delivery-boy-add">
              <span>{{ "::Add" | abpLocalization }}</span>
            </button>
          </div> -->
          
        </div>
      </div>
    </div>
    <div class="card-body">
  
      <ngx-datatable [rows]="deliveryboylist.items" [count]="deliveryboylist.totalCount" [list]="list" default>
  
        <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editState(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
  
   <ngx-datatable-column [name]="'::Delivery Boy Name' | abpLocalization" prop="boyName">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::Delivery Boy Phone' | abpLocalization" prop="boyPhone">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::Delivery Boy Username' | abpLocalization" prop="boyUsername">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::Delivery Boy email' | abpLocalization" prop="boyEmail">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::City' | abpLocalization" prop="cityName">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::Identification Type' | abpLocalization" prop="identificationTypeName">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::Identification Number' | abpLocalization" prop="identificationNumber">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::Address' | abpLocalization" prop="address">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'::Store Id' | abpLocalization" prop="storeId">
  </ngx-datatable-column>
        
      </ngx-datatable>
    </div>
  </div>
  
