<div class="card-body">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-md-6">
            <h5 class="card-title">{{ 'Update Store' | abpLocalization }}</h5>
            <!-- <h3>{{ (selectedArea.id ? '::Edit area' : '::Add Area' ) | abpLocalization }}</h3> -->
          </div>
          <div class="text-end col col-md-6">
          </div>
        </div>
      </div>
      <div class="card-body">
        <form class="g-3" [formGroup]="ownerDetails" enctype="multipart/form-data">

          <div class="row">

            <div class="form-group col-md-4">
              <label for="store name">Store name </label><span> * </span>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['name'].errors }"
                placeholder="Country Of Origin" formControlName="name" autofocus />
              <div *ngIf="submitted && s['name'].errors" class="invalid-feedback">
                <div *ngIf="s['countryOfOrigin'].errors['required']">Store name is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Store no">Store no</label><span> * </span>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['storeNo'].errors }"
                placeholder="Store no" formControlName="storeNo" autofocus />
              <div *ngIf="submitted && s['storeNo'].errors" class="invalid-feedback">
                <div *ngIf="s['storeNo'].errors['required']">Store no is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Admin Share">Admin Share</label><span> * </span>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['adminshare'].errors }"
                placeholder="Admin Share" formControlName="adminshare" autofocus />
              <div *ngIf="submitted && s['adminshare'].errors" class="invalid-feedback">
                <div *ngIf="s['adminshare'].errors['required']">Admin Share is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Order per time slot col-md-6">Order per time slot</label><span class="required"> * </span>
              <input type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && s['storeOrderPerTimeSlot'].errors }"
                placeholder="Order per time slot" formControlName="storeOrderPerTimeSlot" autofocus />
              <div *ngIf="submitted && s['storeOrderPerTimeSlot'].errors" class="invalid-feedback">
                <div *ngIf="s['storeOrderPerTimeSlot'].errors['required']">Order per time slot is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Start Time col-md-6">Start Time</label><span class="required"> * </span>
              <input type="time" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && s['storeStartTime'].errors }" [(ngModel)]="time" placeholder="Start Time"
                formControlName="storeStartTime" autofocus />
              <div *ngIf="submitted && s['storeStartTime'].errors" class="invalid-feedback">
                <div *ngIf="s['storeStartTime'].errors['required']">Start Time is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="End Time">End Time</label><span> * </span>
              <input type="time" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && s['storeEndTime'].errors }" placeholder="End Time"
                formControlName="storeEndTime" autofocus />
              <div *ngIf="submitted && s['storeEndTime'].errors" class="invalid-feedback">
                <div *ngIf="s['storeEndTime'].errors['required']">End Time is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Time slot interval">Time slot interval</label><span> * </span>
              <input type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && s['storeTimeSlotInterval'].errors }"
                placeholder="Time slot interval" formControlName="storeTimeSlotInterval" autofocus />
              <div *ngIf="submitted && s['storeTimeSlotInterval'].errors" class="invalid-feedback">
                <div *ngIf="s['storeTimeSlotInterval'].errors['required']">Time slot interval is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="input-div">
                <div class="ps-1 mb-3">
                  <label>Is Approved</label> <label class="required">*</label> <br>
                  <input type="checkbox" formControlName="storeApporval" class="approve-check">
                  <!-- <div *ngIf="submitted && fileupload_step && ownerDetails.controls.storeApporval.errors">
                        <div class="error_msg" *ngIf="s.storeApporval.errors?.required">Per time order
                          slot is required</div>
                      </div> -->
                </div>
                <!-- <div *ngIf="submitted && fileupload_step && ownerDetails.controls.s.errors">
                      <div class="error_msg" *ngIf="s.s.errors?.required">Address is required
                      </div>
                    </div> -->
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Area ">Area</label><span> * </span>
              <!-- <input type="text"  class="form-control" placeholder="ProductTypeId" formControlName="productTypeId" autofocus /> -->
              <select formControlName="areaId">
                <option value="">Select Area</option>
                <option *ngFor="let data of area; let i=index" [ngValue]="data.id">{{data.areaAddress}}
                </option>
                <div *ngIf="submitted && fileupload_step && ownerDetails.controls.areaId.errors">
                  <div class="error_msg" *ngIf="s.areaId.errors?.required">Area is
                    required
                  </div>
                </div>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="store Type Id">Store Type</label><span> * </span>
              <!-- <input type="text"  class="form-control" placeholder="ProductTypeId" formControlName="productTypeId" autofocus /> -->
              <select formControlName="storeTypeId">
                <option value="">Select Type</option>
                <option *ngFor="let data of storetype; let i=index" [ngValue]="data.id">{{data.storeTypeName}}
                </option>
                <div *ngIf="submitted && ownerDetails.controls.storeTypeId.errors">
                  <div class="error_msg" *ngIf="s.storeTypeId.errors?.required">Store type is
                    required
                  </div>
                </div>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="PAN Card no">PAN Card no</label><span> * </span>
              <input type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && s['storeOwnerPAN'].errors }" placeholder="PAN Card no"
                formControlName="storeOwnerPAN" autofocus />
              <div *ngIf="submitted && s['storeOwnerPAN'].errors" class="invalid-feedback">
                <div *ngIf="s['storeOwnerPAN'].errors['required']">PAN Card no is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="ADHAR Card No">ADHAR Card No</label><span> * </span>
              <input type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && s['storeOwnerAadhar'].errors }" placeholder="ADHAR Card No"
                formControlName="storeOwnerAadhar" autofocus />
              <div *ngIf="submitted && s['storeOwnerAadhar'].errors" class="invalid-feedback">
                <div *ngIf="s['storeOwnerAadhar'].errors['required']">ADHAR Card No is required</div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <div class="input-div">
                <div class="frame">
                  <div class="center">
                    <div class="title pt-5">
                      <h1>Drop file to upload</h1>
                    </div>
                    <div class="dropzone mt-5 mx-auto">
                      <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                      <input type="file" class="upload-input" accept=".jpeg, .jpg, .png" multiple
                        (change)="imgChange($event)" />
                      <!-- <div *ngIf="submitted && file_step && file_stepDetails.controls.storeImageFile.errors">
                            <div class="error_msg" *ngIf="s.name.errors?.required">Store is required</div>
                          </div> -->
                    </div>
                    <!-- <button type="file" class="btn" name="uploadbutton">Upload</button>                         -->
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <div class="row">
                <div class="col-md-3 mt-2" *ngFor="let url of imageSrc;let index = index">
                  <div class="preview">
                    <a class="float-end mb-0 pb-0"><i class="fa fa-close" (click)="removeSelectedFile(index)"></i></a>
                    <img [src]="[url]" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mt-2" *ngFor="let url of serverImgs;let index = index">
                  <div class="preview">
                    <a class="float-end mb-0 pb-0"><i (click)="deleteImg(url.storeImgId)" class="fa fa-close"></i></a>
                    <img src="{{apiURL}}/{{url.storeImageFileName}}" alt="">
                  </div>
                </div>
              </div>
            </div>
            

            <!-- <div class="form-group col-md-8"> -->
            <div class="input-div">

            </div>
            <!-- </div> -->

            <h5 class="fs-title mt-5">Upload Store Documents</h5>

            <div class="input-text mt-0">
              <table formArrayName="documentList" class="table w-100">
                <thead class="bg-light">
                  <tr>
                    <td class="ps-2 pe-2 pb-0"><label class="mb-2">Sr. No.</label></td>
                    <td class="ps-2 pe-2 pb-0"><label class="mb-2">Document Upload</label><label class="required">*</label></td>
                    <td class="ps-2 pe-2 pb-0"><label class="mb-2">Document Types</label> <label class="required">*</label></td>
                    <td class="ps-2 pe-2 pb-0"><label class="mb-2">Expiry Date</label> <label class="required">*</label></td>
                    <td class="ps-2 pe-2 pb-0"><label class="mb-2">Action</label></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let child of ownerDetails.get('documentList')['controls']; let i = index" formGroupName="{{i}}">
                    <td class="p-2 align-middle text-center"><label>{{ i+1 }}</label></td>

                    <td class="p-2">
                      <div class="input-div">
                        <input class="form-control" type="file" multiple id="formFile"
                          formControlName="identificationFile" (change)="fileupload($event,i)">
                        <div *ngIf="submitted && file_step && child.get('identificationFile').errors?.required">
                          <div class="error_msg" *ngIf="child.get('identificationFile').errors?.required">
                            Document is required
                          </div>
                        </div>
                      </div>
                    </td>

                    <td class="p-2">
                      <div class="input-div">
                        <select formControlName="identificationTypeId">
                          <option value="">Select Type</option>
                          <!-- <option [(ngModel)]="rows[i].identificationTypeId" *ngFor="let data of identificationtype; let i=index" [ngValue]="data.id">{{data.identificationTypeName}}</option> -->
                          <option *ngFor="let data of identificationtype; let i=index" [ngValue]="data.id">
                            {{data.identificationTypeName}}</option>
                        </select>
                        <div *ngIf="submitted && file_step && child.get('identificationTypeId').errors?.required">
                          <div class="error_msg" *ngIf="child.get('identificationTypeId').errors?.required">
                            Identification
                            Type is required</div>
                        </div>
                      </div>
                    </td>

                    <td class="p-2">
                      <div class="input-div">
                        <input type="date" formControlName="expirydate" placeholder="Expiry Date" />
                        <div *ngIf="submitted && file_step && child.get('expirydate').errors?.required">
                          <div class="error_msg" *ngIf="child.get('expirydate').errors?.required">Expiry Date
                            is required</div>
                        </div>
                      </div>
                    </td>

                    <td class="p-2">
                      <div class="input-div">
                        <button type="button" (click)="removeDocument(i)" class="btn btn-secondary btn-del w-20"><i
                            class="fa fa-trash pt-1"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="input-text mt-0">
              <div class="input-div">
                <button type="button" (click)="addDocument()" class="btn btn-secondary btn-add w-20"><i
                    class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <div class="input-text">
              <div class="input-div">
                <div class="input-group mb-3">
                  <label>Store Address</label> <label class="required">*</label>
                  <input type="text" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && s['storeAddress'].errors }" placeholder="Store Address"
                  formControlName="storeAddress" autofocus />
                  <div class="input-group-append">
                    <span id="basic-addon2" class="input-group-text" style="cursor: pointer">
                      <i class="fa fa-crosshairs me-2"></i> Address
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-12">
            <div class="map">
              <agm-map style="height: 300px;" [latitude]="latitude" [longitude]="longitude" [restriction]=""
                (mapClick)="onMapClicked($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)">
                </agm-marker>
              </agm-map>
            </div>
          </div>

          <div class="form-group col-md-12">
            <div class="input-text mt-0 mb-0">
              <div class="input-div">
                <label>Longitude</label> <label class="required">*</label>
                <input type="number" formControlName="storeLongitude" [value]="longitude" placeholder="Longitude" />
                <div *ngIf="submitted && fileupload_step && ownerDetails.controls.storeLongitude.errors">
                  <div class="error_msg" *ngIf="s.storeLongitude.errors?.required">Longitude
                    required
                  </div>
                </div>
              </div>

              <div class="input-div">
                <label>Lattitude</label> <label class="required">*</label>
                <input type="number" formControlName="storeLattitude" [value]="latitude" placeholder="Lattitude" />
                <div *ngIf="submitted && fileupload_step && ownerDetails.controls.storeLattitude.errors">
                  <div class="error_msg" *ngIf="s.storeLattitude.errors?.required">Lattitude
                    required
                  </div>
                </div>
              </div>

              <div class="input-div">
                <label for="Store Range">Store Range</label><label class="required"> * </label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['storeRange'].errors }"
                  placeholder="Store Range" formControlName="storeRange" autofocus />
                <div *ngIf="submitted && s['storeRange'].errors" class="invalid-feedback">
                  <div *ngIf="s['storeRange'].errors['required']">Store Range is required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="buttons mt-5">
            <button type="button" (click)="updateStore()" name="submit" class="submit action-button">Update</button>
          </div>

        </form>

        <hr>

        <form [formGroup]="userDetails">
          <div class="main active" formArrayName="userArray">
            <div class="row">
              <div class="col-md-12 col-md-offset-3">
                <!-- fieldsets -->
                <h5 class="fs-title">Employee's Details</h5>
                <table class="table w-100">
                  <thead class="bg-light">
                    <tr>
                      <td class="p-2"><label class="mb-2">Sr. No.</label></td>
                      <td class="p-2"><label class="mb-2">User's Name</label> <label class="required">*</label></td>
                      <td class="p-2"><label class="mb-2">User's Email</label> <label class="required">*</label></td>
                      <td class="p-2"><label class="mb-2">User's Role</label> <label class="required">*</label></td>
                      <td class="p-2"><label class="mb-2">User Password</label> <label class="required">*</label></td>
                      <td class="p-2"><label  class="mb-2">Action</label></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let child of userDetails.get('userArray')['controls']; let i = index" formGroupName="{{i}}">
                      <td class="p-2 text-center align-middle"><label>{{ i+1 }}</label></td>
                      <td class="p-2">
                        <div class="input-div">
                          <input type="text" formControlName="userName" placeholder="Full Name" />
                          <div *ngIf="submitted && user_step && child.get('userName').errors">
                            <div class="error_msg" *ngIf="child.get('userName').errors?.required">Name is required</div>
                          </div>
                        </div>
                      </td>

                      <td class="p-2">
                        <div class="input-div">
                          <input type="text" formControlName="userEmail" name="email" placeholder="Email" email="true" />
                          <div *ngIf="submitted && user_step && child.get('userEmail').errors">
                            <div class="error_msg" *ngIf="child.get('userEmail').errors?.required">Email is required</div>
                          </div>
                        </div>
                      </td>

                      <td class="p-2">
                        <div class="input-div">
                          <select formControlName="roleId">
                            <option value="">Select Role</option>
                            <option *ngFor="let data of user_roles; let i=index" [ngValue]="data.roleId">{{data.roleName}}
                            </option>
                          </select>
                          <div *ngIf="submitted && user_step && child.get('roleId').errors">
                            <div class="error_msg" *ngIf="child.get('roleId')?.required">Role is required</div>
                          </div>
                        </div>
                      </td>

                      <td class="p-2">
                        <div class="input-div">
                          <input type="password" formControlName="userPass" name="password" placeholder="Password" />
                          <div *ngIf="submitted && user_step && child.get('userPass').errors">
                            <div class="error_msg" *ngIf="child.get('userPass').errors?.required">Password is
                              required
                            </div>
                          </div>
                      
                          <input type="hidden" formControlName="tenantId" [(ngModel)]="tenantId">
                          <input type="hidden" formControlName="storeId" [(ngModel)]="storeId">
                        </div>
                      </td>

                      <td class="p-2">
                        <div class="input-div">
                          <input type="hidden" formControlName="userId" name="userId" placeholder="userId" />
                          <button type="button" (click)="removeUser(i)" class="btn btn-secondary btn-del w-20"><i
                              class="fa fa-trash pt-1"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="input-div">
                  <button
                    type="button"
                    (click)="addUser()"
                    class="btn btn-secondary btn-add w-20 mt-3">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>

                <div class="buttons mt-5">
                  <button type="button" (click)="updateUser()" class="next action-button next_button">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
