<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ 'Store' | abpLocalization }}</h5>
      </div>
      <div class="text-end col col-md-6">

        <!-- Add the "new book" button here -->
        <div class="text-lg-end pt-2">
          <button class="btn-primary border border-primary" type="button" routerLink="/store/add">
            <i class="fa fa-plus  me-2"></i>
            <span>{{ "::Add" | abpLocalization }}</span>
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="card-body">

    <ngx-datatable [rows]="stores?.items" [count]="stores?.totalCount" [list]="list" default>

      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <a [routerLink]="['/store/edit/'+ row.id.toString() +'']" ngbDropdownItem>
                {{ '::Edit' | abpLocalization }}
              </a>
            </div>

            <!-- <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editState(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
          
            </div> -->
          </div>
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column [name]="'::Store No' | abpLocalization" prop="storeNo">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Store Name' | abpLocalization" prop="name">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Store Address' | abpLocalization" prop="storeAddress">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Store StartTime' | abpLocalization" prop="storeStartTime">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Store EndTime' | abpLocalization" prop="storeEndTime">
      </ngx-datatable-column>
      <!-- <ngx-datatable-column [name]="'::Store Apporval' | abpLocalization" prop="storeApporval">
      </ngx-datatable-column> -->
    </ngx-datatable>
  </div>
</div>
