<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ 'Redeem Points' | abpLocalization }}</h5>
        </div>
        <div class="text-end col col-md-6">
  
          <!-- Add the "new book" button here -->
          <div class="text-lg-end pt-2">
            <button id="create" class="btn-primary border border-primary" type="button" (click)="createRedeem()">
              <i class="fa fa-plus  me-2"></i>
              <span>{{ "::Add" | abpLocalization }}</span>
            </button>
          </div>
          
        </div>
      </div>
    </div>
    <div class="card-body">
  
      <ngx-datatable [rows]="redeemlist.items" [count]="redeemlist.totalCount" [list]="list" default>
  
        <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editRedeem(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
  
        <ngx-datatable-column [name]="'::Reward Points' | abpLocalization" prop="rewardPoints">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Point Value' | abpLocalization" prop="pointValue">
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  
  <!-- Add the modal here -->
  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <!-- <h3>{{ '::Add Redeem Points' | abpLocalization }}</h3> -->
      <h3>{{ (selectedRedeem.id ? '::Edit Redeem Points' : '::Add Redeem Points' ) | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody>
      <form [formGroup]="redeemform" (ngSubmit)="save()">
        <div class="form-group">
          <label for="Reward-Points">RewardPoints</label><span class="required"> * </span>
          <input type="number" id="Reward-Points" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['rewardPoints'].errors}"  placeholder="Reward Points" formControlName="rewardPoints" autofocus />
          <div *ngIf="submitted && f['rewardPoints'].errors" class="invalid-feedback">
            <div *ngIf="f['rewardPoints'].errors['required']">This field is required</div>
          </div>
        </div>
        <div class="form-group">
            <label for="Point-Value">PointValue</label><span class="required"> * </span>
            <input type="number" id="Point-Value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['pointValue'].errors}"  placeholder="Point Value" formControlName="pointValue" autofocus />
            <div *ngIf="submitted && f['pointValue'].errors" class="invalid-feedback">
              <div *ngIf="f['pointValue'].errors['required']">This field is required</div>
            </div>
          </div>
      </form>
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
  
      <!--added save button-->
      <button class="btn btn-primary" (click)="save()">
        <i class="fa fa-check  me-2"></i>
        {{ '::Save' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>
  
  

