<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ 'Product' | abpLocalization }}</h5>
      </div>
      <div class="text-end col col-md-6">

        <!-- Add the "new book" button here -->
        <div class="text-lg-end pt-2">
          <button class="btn-primary border border-primary" type="button" routerLink="/product/add">
            <i class="fa fa-plus  me-2"></i>
            <span>{{ "::Add" | abpLocalization }}</span>
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="card-body">

    <ngx-datatable [rows]="products?.items" [count]="products?.totalCount" [list]="list" default>
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              ngbDropdownToggle>
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <a [routerLink]="['/product/'+ row.id.toString() +'']" ngbDropdownItem>
                <!-- (click)="editCategory(row.id)" -->
                {{ '::Edit' | abpLocalization }}
              </a>
              <button ngbDropdownItem (click)="deleteProduct(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::Product Name' | abpLocalization" prop="productName">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Brand Name' | abpLocalization" prop="brandName">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Country Of Origin' | abpLocalization" prop="countryOfOrigin">
      </ngx-datatable-column>
      <!-- <ngx-datatable-column [name]="'::Product Disclaimer' | abpLocalization" prop="productDisclaimer">
        </ngx-datatable-column> -->
      <ngx-datatable-column [name]="'::Product Type' | abpLocalization" prop="productTypeName">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Store Name' | abpLocalization" prop="storeName">
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
