<div class="card-body">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-md-6">
            <h5 class="card-title">{{ 'Add Product' | abpLocalization }}</h5>
            <!-- <h3>{{ (selectedArea.id ? '::Edit area' : '::Add Area' ) | abpLocalization }}</h3> -->
          </div>
          <div class="text-end col col-md-6">
          </div>
        </div>
      </div>
      <div class="card-body">
        <form class="g-3" [formGroup]="productAddForm" enctype="multipart/form-data">

          <div class="row">

            <div class="form-group col-md-4">
              <label for="Product">Category</label><span class="required"> * </span>
              <select id="category" (change)="forsubCategory($event)" name="category" ngDefaultControl
                class="form-select" formControlName="categoryId">
                <option value="">Select</option>
                <option *ngFor="let c of categorytype" value="{{c.categoryId}}">{{c.categoryName}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="Product">Sub Category</label><span class="required"> * </span>
              <select id="subcategory" (change)="forsubsubCategory($event)" name="subcategory" ngDefaultControl
                [(ngModel)]="subsubCategoryId" class="form-select" formControlName="subCategoryId">
                <option>Select</option>
                <option *ngFor="let subc of subcategoryList" value="{{subc.id}}">{{subc.categoryName}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="Product">Sub-Sub Category</label><span class="required"> * </span>
              <select id="subsubcategory" class="form-select" formControlName="subSubCategoryId">
                <option value="">Select</option>
                <option *ngFor="let subsub of subsubCategoryList" value="{{subsub.id}}">{{subsub.categoryName}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="Product Name col-md-6">Product Name</label><span class="required"> * </span>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && p['productName'].errors }"
                placeholder="Product Name" formControlName="productName"  />
              <div *ngIf="submitted && p['productName'].errors" class="invalid-feedback">
                <div *ngIf="p['productName'].errors['required']">Product Name is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Brand Name">Brand Name</label><label class="required">*</label>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && p['brandName'].errors }"
                placeholder="Brand Name" formControlName="brandName"  />
              <div *ngIf="submitted && p['brandName'].errors" class="invalid-feedback">
                <div *ngIf="p['brandName'].errors['required']">Brand Name is required</div>
              </div>
            </div>

            <!-- <div class="form-group col-md-4">
              <label for="Product">Side Images</label><span class="required"> * </span>
              <input type="file" class="form-control" placeholder="Products side Image"
                formControlName="ProductSideImages"  />
            </div> -->

            <div class="form-group col-md-4">
              <label for="Country Of Origin">Country Of Origin</label><span> * </span>
              <input type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && p['countryOfOrigin'].errors }" placeholder="Country Of Origin"
                formControlName="countryOfOrigin"  />
              <div *ngIf="submitted && p['countryOfOrigin'].errors" class="invalid-feedback">
                <div *ngIf="p['countryOfOrigin'].errors['required']">Country Of Origin is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="Product Disclaimer">Product Disclaimer</label><span> * </span>
              <input type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && p['productDisclaimer'].errors }"
                placeholder="Product Disclaimer" formControlName="productDisclaimer"  />
              <div *ngIf="submitted && p['productDisclaimer'].errors" class="invalid-feedback">
                <div *ngIf="p['productDisclaimer'].errors['required']">Product Disclaimer is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="product Type Id">Product Type</label><span> * </span>
              <!-- <input type="text"  class="form-control" placeholder="ProductTypeId" formControlName="productTypeId"  /> -->
              <select id="productTypeId" class="form-select" formControlName="productTypeId">
                <option value="">Select</option>
                <option [ngValue]="p.productTypeId" *ngFor="let p of producttype">{{p.productTypeName}}</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="storeId">Store</label><span> * </span>
              <!-- <input type="text" id="storeId" placeholder="storeId" class="form-control" formControlName="storeId"  /> -->
              <select id="storeId" class="form-select" formControlName="storeId">
                <option value="">Select</option>
                <option [ngValue]="s.storeId" *ngFor="let s of store">{{s.storeName}}</option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <!-- <a class="btn bun-outline-secondary" (click)="addNewTags()"><i class="fa fa-plus"></i> Add Product Tags</a> -->

              <!-- <input style="width: 150px;" type="text" [(ngModel)]="Tags" class="form-control" [ngClass]="{ 'is-invalid': submitted && p['ProductTags'].errors }"
              placeholder="Product Tag" formControlName="ProductTags"  /> -->
            </div>
            <ng-container formArrayName="ProductTags">
              <div *ngFor="let child of productAddForm.get('ProductTags')['controls']; let i = index"
                formGroupName="{{i}}" class="form-group col-md-4">
                <!-- <label for="Product Tag">Product Tag</label><span> * </span>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && p['ProductTags'].errors }"
                  placeholder="Product Tag" formControlName="productTagslist"  />
                <i (click)="deleteTags(i)" class="fa fa-trash" aria-hidden="true"></i> -->
                <!-- <div *ngIf="submitted && p['productTags'].errors" class="invalid-feedback">
                  <div *ngIf="p['productTags'].errors['required']">Product Tag is required</div>
                </div> -->
                <label for="Product Tag">Product Tags</label><span> * </span>
                <div class="input-group mb-3">
                  <!-- <span class="input-group-text" id="basic-addon1"><label for="Product Tag">Product Tag</label><span class="ms-1"> * </span></span> -->
                  <textarea type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && p['ProductTags'].errors }" placeholder="Product Tag"
                    formControlName="productTagslist" ></textarea>
                  <!-- <span class="input-group-text"><i (click)="deleteTags(i)" class="fa fa-trash" aria-hidden="true"></i></span> -->
                </div>
              </div>
              <div *ngIf="product_tags" class="form-group col-md-4">
                <div class="bg-primary mt-4 pt-2 pb-2 ps-3 pe-3 rounded text-white text-capitalize">
                  {{product_tags}}
                </div>
              </div>
            </ng-container>
          </div>

          <div class="row mt-5">
            <div class="table-responsive scroll-container" style="overflow: auto;white-space:nowrap;">
              <table class="table" formArrayName="ProductAndProductAttributes">
                <thead>
                  <tr>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Delete</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Sr.No</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize"></th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Attribute</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product SubAttribute</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Attribute value</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Attribute Name</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Description</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product MRP</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Discount (%)</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product price </th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Main Image </th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Side Images</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product SKU</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Max Quantity</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Is Approved</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Product Status</th>
                    <th class="form-group text-center text-dark fs-6 text-capitalize">Is Active</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container>
                    <tr
                      *ngFor="let child of productAddForm.get('ProductAndProductAttributes')['controls']; let i = index"
                      formGroupName="{{i}}">
                      <td class="form-group pt-4">
                        <i (click)="removeproduct(i)" class="fa fa-trash" aria-hidden="true"></i>
                      </td>
                      <td class="form-group pt-4">
                        {{i+1}}
                      </td>
                      <td>
                        <!-- <div class="form-group"> -->
                        <!-- <label for="Product">Products</label><span class="required"> * </span> -->
                        <!-- <input type="hidden" class="form-control" placeholder="Product" formControlName="productId"  /> -->
                        <!-- </div> -->
                      </td>
                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Product Attribute</label><span class="required"> * </span> -->
                          <select id="productAttributeId_{{i}}" class="form-select width-field"
                            (change)="changeProductAttribute($event,i)" name="productAttribute"
                            formControlName="productAttributeId">
                            <option value="">Select</option>
                            <option value="{{p.attributeId}}" *ngFor="let p of productattribute">{{p.attributeName}}
                            </option>
                          </select>
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Product SubAttribute</label><span class="required"> * </span> -->
                          <select id="productSubAttributeId_{{i}}" class="form-select width-field"
                            formControlName="productSubAttributeId" (change)="onKeySubAttribute($event,[i])">
                            <option value="">Select</option>
                            <option value="{{p.id}}" *ngFor="let p of productsubattributeList[i]">{{p.attributeName}}</option>
                          </select>
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Product Attribute Value</label><span class="required"> * </span> -->
                          <input type="text" (change)="onKeySAttrValue($event,[i])"(input)="attrValueChange($event.target.value,[i])" class="form-control width-field" placeholder="Product Attribute Value"
                            formControlName="productAttributeValue"  />
                        </div>
                      </td>

                      <td>
                        <div class="form-group text-center">
                          <!-- <label for="Product atribute name">product Attribute Name</label><span class="required"> * </span> -->
                          <input type="text" readonly [(ngModel)]="AttributeName[i]" class="form-control width-field" placeholder="product Attribute Name"
                            formControlName="productAttributeName"  />
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Products Description</label><span class="required"> * </span> -->
                          <textarea type="text" class="form-control width-field" placeholder="Products Description "
                            formControlName="productDescription" >
                      </textarea>

                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Products MRP</label><span class="required"> * </span> -->
                          <input type="number"(change)="onKeyMRP($event,[i])" class="form-control width-field" placeholder="Products MRP"
                            formControlName="productMRP"  />
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Product Discount</label><span class="required"> * </span> -->
                          <input type="number" (input)="calculateDiscount($event.target.value,[i])" class="form-control width-field" placeholder="Product Discount"
                            formControlName="productDiscount"  />
                        </div>
                      </td>
                      
                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Products Price</label><span class="required"> * </span> -->
                          <input type="number" readonly [(ngModel)]="TotalDiscountPrice[i]" (change)="onKeyPrice($event,[i])" class="form-control width-field" placeholder="Products Price"
                            formControlName="productPrice"  />
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Products </label><span class="required"> * </span> -->
                          <input type="file" (change)="mainImage($event,[i])" class="form-control width-field" accept=".jpeg, .jpg, .png"
                            placeholder="Products Image" formControlName="productMainImgFile"  />
                        </div>
                        
                        <ul style="list-style: none;" class="ps-0 ms-0">
                          <li class="mt-2 d-inline-block">
                            <div class="preview" style="width: fit-content">
                              <!-- <a (click)="removeSelectedFile(url.id)" class="float-end ps-2 mb-0 pb-0"><i class="fa fa-close"
                                  ></i></a> -->
                              <img src="{{MainImgURL}}/{{prAttx[i]?.productMainImgFileName}}" style="width: 50px;">
                            </div>
                          </li>
                        </ul>
                      </td>

                      <td>
                        <ng-container formArrayName="ProductSideImages">
                          <div class="form-group">
                            <a class="btn bun-outline-secondary" (click)="addsideImg(i)"><i
                                class="fa fa-plus-square-o me-3"></i> Add Side Images</a>
                          </div>

                          <ul style="list-style: none;" class="ps-0 ms-0">
                            <li class="mt-2 d-inline-block" *ngFor="let url of prAttx[i]?.productSideImages;let index = index">
                              <div class="preview" style="width: fit-content">
                                <a (click)="removeSelectedFile(url.id)" class="float-end ps-2 mb-0 pb-0"><i class="fa fa-close"
                                    ></i></a>
                                <img src="{{apiURL}}/{{url.imageName}}" style="width: 50px;">
                              </div>
                            </li>
                          </ul>

                          <div class="form-group" *ngFor="let img of productSideImgs(i).controls; let j=index">
                            <div [formGroupName]="j">
                              <input type="file" (change)="uploadImages($event,[i],[j])"
                                class="form-control d-inline width-field" placeholder="Products Side Images"
                                formControlName="Images" accept=".jpeg, .jpg, .png"  multiple />
                              <a class="btn bun-outline-secondary ms-2"><i (click)="removesideImage([i],[j])"
                                  class="fa fa-trash"></i></a>
                            </div>
                          </div>
                        </ng-container>
                      </td>
                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Product SKU</label><span class="required"> * </span> -->
                          <input type="text" class="form-control width-field" placeholder="Product SKU"
                            formControlName="productSKU"  />
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Product Max Quantity</label><span class="required"> * </span> -->
                          <input type="number" class="form-control width-field" placeholder="Product Max Quantity"
                            formControlName="productMaxQty"  />
                        </div>
                      </td>
                      <td>
                        <div class="form-group text-center">
                          <!-- <label for="Product">Is Approved</label><span class="required"> * </span> -->
                          <input type="checkbox" class="approve-check larger" placeholder="Is Approved"
                            formControlName="isApproved"  />
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <!-- <label for="Product">Product Status</label><span class="required"> * </span> -->
                          <!-- <input type="text" class="form-control" placeholder="Product Status" formControlName="productStatusId"  /> -->
                          <select id="productStatusId" class="form-select width-field"
                            formControlName="productStatusId">
                            <option value="">Select</option>
                            <option [ngValue]="p.productStatusId" *ngFor="let p of productstatusList">
                              {{p.productStatusName}}
                            </option>
                          </select>
                        </div>
                      </td>

                      <td>
                        <div class="form-group text-center">
                          <!-- <label for="Product">Is Active</label><span class="required"> * </span> -->
                          <input type="checkbox" class="approve-check larger" placeholder="Is Active"
                            formControlName="isActive"  />
                        </div>
                      </td>
                      
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div class="input-text mb-2">
            <div class="input-div">
              <button type="button" (click)="addproduct()" class="btn btn-secondary btn-add w-20 mt-4"><i
                  class="fa fa-plus"></i> Add New</button>
            </div>
          </div>

          <div class="col-12 mt-5">
            <button class="btn btn-primary" (click)="onProductSubmit()" type="submit">
              Submit
            </button>
          </div>

          <!--added save button-->
          <!-- <button class="btn btn-primary" (click)="save()" [disabled]="deliveryboyaddform.invalid">
                <i class="fa fa-check  me-2"></i>
                {{ '::Save' | abpLocalization }}
                </button> -->
        </form>


      </div>
    </div>
  </div>
