<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ 'State' | abpLocalization }}</h5>
      </div>
      <div class="text-end col col-md-6">

        <!-- Add the "new book" button here -->
        <div class="text-lg-end pt-2">
          <button id="create" class="btn-primary border border-primary" type="button" (click)="createState()">
            <i class="fa fa-plus  me-2"></i>
            <span>{{ "::Add" | abpLocalization }}</span>
          </button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="card-body">

    <ngx-datatable [rows]="statelist.items" [count]="statelist.totalCount" [list]="list" default>

      <ngx-datatable-column
      [name]="'::Actions' | abpLocalization"
      [maxWidth]="150"
      [sortable]="false"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div ngbDropdown container="body" class="d-inline-block">
          <button
            class="btn btn-primary btn-sm dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            ngbDropdownToggle
          >
            <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="editState(row.id)">
              {{ '::Edit' | abpLocalization }}
            </button>
            <button ngbDropdownItem (click)="delete(row.id)">
              {{ '::Delete' | abpLocalization }}
            </button>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>

      <ngx-datatable-column [name]="'::State Name' | abpLocalization" prop="stateName">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::State Code' | abpLocalization" prop="stateCode">
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <!-- <h3>{{ '::Add State' | abpLocalization }}</h3> -->
    <h3>{{ (selectedState.id ? '::Edit State' : '::Add State' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="stateform" (ngSubmit)="save()">
      <div class="form-group">
        <label for="state-name">State Name</label><span class="required"> * </span>
        <input type="text" id="state-name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['stateName'].errors}" placeholder="State Name" formControlName="stateName" autofocus />
        <div *ngIf="submitted && f['stateName'].errors" class="invalid-feedback">
          <div *ngIf="f['stateName'].errors['required']">This field is required</div>
        </div>
      </div>
      <div class="form-group">
          <label for="state-code">State Code</label><span class="required"> * </span>
          <input type="text" id="state-code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['stateCode'].errors}" placeholder="State Code" formControlName="stateCode" autofocus />
          <div *ngIf="submitted && f['stateCode'].errors" class="invalid-feedback">
            <div *ngIf="f['stateCode'].errors['required']">This field is required</div>
          </div>
        </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="save()">
      <i class="fa fa-check  me-2"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

