<div class="card-body">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-md-6">
          </div>
          <div class="text-end col col-md-6">
          </div>
        </div>
      </div>
      <div class="card-body">
        <form class="g-3" [formGroup]="settingAddForm" enctype="multipart/form-data">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="App Name">App name</label>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['appName'].errors }"
                placeholder="Name" formControlName="appName" autofocus />
              <div *ngIf="submitted && f['appName'].errors" class="invalid-feedback">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="country Code">Country Code</label>
              <input type="number" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['countryCode'].errors }" placeholder="Country Code"
                formControlName="countryCode" autofocus />
              <div *ngIf="submitted && f['countryCode'].errors" class="invalid-feedback">
                <!-- <div *ngIf="f['countryCode'].errors['pattern']">Code is 2 digit</div> -->
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="phoneNumberLength">Phone number length</label>
              <input type="number" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['phoneNumberLength'].errors }"
                placeholder="Phone number length" formControlName="phoneNumberLength" autofocus />
              <div *ngIf="submitted && f['phoneNumberLength'].errors" class="invalid-feedback">
                <!-- <div *ngIf="f['phoneNumberLength'].errors['pattern']">
                  Phone number length 
                </div> -->
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="keywordsFooterText">keywords Footer Text</label>
              <input type="text" id="keywordsFooterText" placeholder="keywords Footer Text" class="form-control"
                formControlName="keywordsFooterText" autofocus />
            </div>

            <div class="form-group col-md-6">
              <div class="preview">
                <img style="height: 120px;" src="{{apiURL}}/{{serverLogo}}" alt="">
              </div>
              <label for="siteLogoFile">Site Logo</label>
              <input type="file" (change)="LogoFile($event)" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['siteLogoFile'].errors }" placeholder="Site Logo"
                formControlName="siteLogoFile" autofocus />
              <div *ngIf="submitted && f['siteLogoFile'].errors" class="invalid-feedback">
                <div *ngIf="f['siteLogoFile'].errors['siteLogoFile']">Email is invalid</div>
                <div *ngIf="f['siteLogoFile'].errors['pattern']"></div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <div class="preview">
                <img style="height: 120px;" src="{{apiURL}}/{{serverFavicon}}" alt="">
              </div>
              <label for="faviconFile">Fevicon Icon</label>
              <input type="file" (change)="faviconFile($event)" id="faviconFile" placeholder="Fevicon File"
                class="form-control" formControlName="faviconFile" autofocus />
            </div>

            <div class="form-group col-md-6">
              <label for="androidAppLink">androidApp Link</label>
              <input type="text" id="androidAppLink" placeholder="android AppLink" class="form-control"
                formControlName="androidAppLink" autofocus>
            </div>
            <div class="form-group col-md-6">
              <label for="iosLink">iosApp Link</label>
              <input type="text" id="iosLink" placeholder="ios AppLink" class="form-control" formControlName="iosLink"
                autofocus>
            </div>



            <div class="col-12 mt-3">
              <button class="btn btn-primary" (click)="submit()" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>




      </div>
    </div>
  </div>
