<div class="card-body">
    <div class="container">
      <div class="card">
        <div class="card-header">
            <div class="row">
              <div class="col col-md-6">
                <h5 class="card-title">{{ 'Notification to Driver' | abpLocalization }}</h5>
              </div>
              <div class="text-end col col-md-6">
        
              
              </div>
            </div>
          </div>
          <div class="card-body">
      
            
            <form [formGroup]="drivernotificationform" (ngSubmit)="save()">
              <div class="form-group col-md-12">
                <label for="Select Driver">Select Driver</label><span> * </span>               
                <ng-multiselect-dropdown formControlName="deliveryBoyId" multiple
                idField='deliveryBoyId'
               [placeholder]="'All selected'"
               [settings]="dropdownSettings"
               [data]="this.boyDetails"
               [(ngModel)]="deliveryBoyId"                                 
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown> 

              <!-- <ng-multiselect-dropdown formControlName="deliveryBoyId" multiple idField='deliveryBoyId' [placeholder]="'All selected'"
              [settings]="dropdownSettings" [data]="this.storeName" [(ngModel)]="storeId"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown> -->

              <!-- <ng-multiselect-dropdown formControlName="storeId" multiple idField='storeId' [placeholder]="'All selected'"
              [settings]="dropdownSettings" [data]="this.storeName" [(ngModel)]="storeId"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown> -->
              
              </div>
              <div class="form-group col-md-12">
                <label for="Title">Title</label><span> * </span>
                <input type="text" id="Title" class="form-control" placeholder="Title" formControlName="title" autofocus />
              </div>
              <div class="form-group col-md-12">
                <label for="Message">Message</label><span> * </span>
                <input type="text" id="Message" class="form-control" placeholder="Message" formControlName="message" autofocus />
              </div>
              <div class="form-group col-md-12">
                <label for="Image">Image</label><span> * </span>
                <input type="file" id="Image" class="form-control" (change)="imgChange($event)"  formControlName="imageFileName" autofocus />
              </div>
              
              <br>
             
              <button class="btn btn-primary" type="submit">
              Send Notification to App Users
              </button>
            
      
              <!--added save button-->
              <!-- <button class="btn btn-primary" (click)="save()" [disabled]="deliveryboyaddform.invalid">
              <i class="fa fa-check  me-2"></i>
              {{ '::Save' | abpLocalization }}
              </button> -->
      
            </form>
            
      </div>
    </div>
</div>




