<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ 'Delivery Boy List' | abpLocalization }}</h5>
        </div>
        <div class="text-end col col-md-6">
  
          <!-- Add the "new book" button here -->
          <div class="text-lg-end pt-2">
            <button class="btn-primary border border-primary" type="button"  routerLink ="/add">
              <i class="fa fa-plus  me-2"></i>
              <span>{{ "::Add" | abpLocalization }}</span>
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="card-body">
  
      <ngx-datatable [rows]="deliveryboylist.items" [count]="deliveryboylist.totalCount" [list]="list" default>

        <!-- <ngx-datatable [rows]="alldeliveryboy?.items" [count]="alldeliveryboy?.totalCount" [list]="list" default> -->

        <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
          
            <div ngbDropdownMenu>
              <a [routerLink]="['/add/'+ row.id.toString() +'']" ngbDropdownItem>
                <!-- (click)="editCategory(row.id)" -->
                {{ '::Edit' | abpLocalization }}
              </a>
              <button ngbDropdownItem (click)="deleteDeliveryBoy(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>


          </div>
        </ng-template>
      </ngx-datatable-column>
  
        <ngx-datatable-column [name]="'::Delivery Boy Name' | abpLocalization" prop="boyName">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Delivery Boy Phone' | abpLocalization" prop="boyPhone">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Delivery Boy Username' | abpLocalization" prop="boyUsername">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::DeliveryBoy Email' | abpLocalization" prop="boyEmail">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::City' | abpLocalization" prop="cityName">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Identification Type' | abpLocalization" prop="identificationTypeName">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Identification Number' | abpLocalization" prop="identificationNumber">
        </ngx-datatable-column>
        <!--<ngx-datatable-column [name]="'::Address' | abpLocalization" prop="address">
        </ngx-datatable-column>-->
      </ngx-datatable>
    </div>
  </div>
  
  
