<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-body">
        <form [formGroup]="categoryForm" id="frm_category_add" enctype="multipart/form-data">
          <!-- <input type="hidden" name="" value=""> -->
          <div class="row">
            <div class="form-group col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="category_name" class="col-form-label">Category</label>
                  <input formControlName="categoryName" type="text" class="form-control" id="category_name" value=""
                    name="category_name" placeholder="Category Name">
                    <div *ngIf="submitted && categoryForm.controls.categoryName.errors">
                      <div class="error_msg" *ngIf="categoryval.categoryName.errors?.required">Category Name is required
                      </div>
                    </div>
                </div>
                <div class="col-md-12">
                  <label for="category_img" class="col-form-label">Upload Image</label>
                  <input formControlName="categoryImageFile" type="file" class="form-control" id="file_name" value=""(change)="categoryImg($event)"
                    name="file_name" placeholder="Upload Image">
                </div>
              </div>
            </div>

            <div class="form-group col-md-6 Categoty_Selection mt-4">
              <ul id="tree1" style="list-style: none;">
                <li class=""><input type="radio" style="margin-right: 10px;" value="0" formControlName="parentCategoryId" checked/>None
                </li>
                <ng-container *ngFor="let category of allCategory">
                  <li>
                    <div class="parent">
                      <span class="me-3"><i class="fa fa-angle-down"></i></span>

                      <input type="radio" value="{{category.categoryId}}" formControlName="parentCategoryId" />
                      {{category.categoryName}}
                    </div>

                    <ul id="tree2" class="child" style="list-style: none;">
                      <ng-container *ngFor="let subcategory of category.subCategoryList">
                        <li>
                          <div class="sub-parent">
                            <input type="radio" value="{{subcategory.subCategoryId}}"formControlName="parentCategoryId" />
                            {{subcategory.subCategoryName}}
                          </div>
                          <ul id="tree2" style="list-style: none;">
                            <ng-container *ngFor="let sub_sub of subcategory.subSubCategoryList">
                              <li>
                                {{sub_sub.subSubCategoryName}}
                              </li>
                            </ng-container>
                          </ul>

                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ul>
            </div>

            <!-- <div class="form-group col-md-6">
              <label for="is_active" class="col-form-label"></label>
              <div class="custom-control custom-checkbox mb-2 mt-3">
                <input type="checkbox" class="custom-control-input" id="is_active" name="is_active" value="active"
                  checked>
                <label class="custom-control-label" for="is_active">Is Active</label>
              </div>
            </div> -->

            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
              <button type="submit" (click)="onSubmit()"class="btn btn-primary waves-effect waves-light mt-4 mr-4">Save & Add New</button>
              <a routerLink="/category" class="btn btn-secondary waves-effect waves-light mt-4"
                style="margin-left: 15px;">Cancel</a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </form>
      </div> <!-- end card-body -->

    </div> <!-- end card-->
  </div> <!-- end col -->
</div>
