.ProductAttribute_Selection{
    overflow-y: scroll;
    height: 500px;
}

.error_msg{
    color: #dc3545;
}

.parent{
    font-weight: 700;
    color: #007329;
    font-size: 18px;
}

.sub-parent{
    color: #019c38;
    font-weight: 600;
}

.child{
    color: #7a7a7a;
    padding-left: 8%;
    // display: none;
}