<div class="row">
    <div class="col-12">
      <div class="card">
  
        <div class="card-body">
          <form [formGroup]="productattributeForm" id="frm_productattribute_add" >
            <!-- <input type="hidden" name="" value=""> -->
            <div class="row">
              <div class="form-group col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <label for="productattribute_name" class="col-form-label">Product Attribute Name</label>
                    <input formControlName="attributeName" type="text" class="form-control" id="productattribute_name" value=""
                      name="productattribute_name" placeholder="Product Attribute Name">
                      <div *ngIf="submitted && productattributeForm.controls.attributeName.errors">
                        <div class="error_msg" *ngIf="productattributeval.attributeName.errors?.required">Product Attribute Name is required
                        </div>
                      </div>
                  </div>
                  
                </div>
              </div>
  
              <div class="form-group col-md-6 ProductAttribute_Selection mt-4">
                <ul id="tree1" style="list-style: none;">
                  <li class="none"><input type="radio" style="margin-right: 10px;" value="0" formControlName="parentAttributeId" checked/>None
                  </li>
                  <ng-container *ngFor="let productattribute of allProductAttribute">
                    <li>
                      <div class="parent">
                        <span class="me-3"><i class="fa fa-angle-down"></i></span>
  
                        <input type="radio" value="{{productattribute.attributeId}}" formControlName="parentAttributeId" />
                        {{productattribute.attributeName}}
                      </div>
  
                      <ul id="tree2" style="list-style: none;">
                        <ng-container *ngFor="let subproductattribute of productattribute.subAttributeList">
                          <li>
                              {{subproductattribute.subAttributeName}}
                          </li>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                </ul>
              </div>
  
              <div class="col-md-4"></div>
              <div class="form-group col-md-4">
                <button type="submit" (click)="onSubmit()"class="btn btn-primary waves-effect waves-light mt-4 mr-4">Save & Add New</button>
                <a routerLink="/product-attribute" class="btn btn-secondary waves-effect waves-light mt-4"
                  style="margin-left: 15px;">Cancel</a>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
        </div> <!-- end card-body -->
  
      </div> <!-- end card-->
    </div> <!-- end col -->
  </div>
  

