<div class="card-body">
    <div class="container">
      <div class="card">
        <div class="card-header">
            <div class="row">
              <div class="col col-md-6">
                <h5 class="card-title">{{ 'Notification to Users' | abpLocalization }}</h5>
              </div>
              <div class="text-end col col-md-6">
        
              </div>
            </div>
          </div>
          <div class="card-body">
      

            <form [formGroup]="usernotificationform" (ngSubmit)="save()">
              <div class="form-group col-md-12">
                <label for="Select Users">Select Users</label><span> * </span>
                <!-- <input type="text" id="Select Users" class="form-control" formControlName="userId" autofocus /> -->
              <ng-multiselect-dropdown formControlName="userId" multiple
               idField='userId'
              [placeholder]="'All selected'"
              [settings]="dropdownSettings"
              [data]="this.userDetails"
              [(ngModel)]="userId"                                 
             (onSelect)="onItemSelect($event)"
             (onSelectAll)="onSelectAll($event)"
             >
             </ng-multiselect-dropdown> 

            </div>
              <div class="form-group col-md-12">
                <label for="Title">Title</label><span> * </span>
                <input type="text" id="Title" class="form-control" formControlName="title" autofocus />
              </div>
              <div class="form-group col-md-12">
                <label for="Message">Message</label><span> * </span>
                <input type="text" id="Message" class="form-control" formControlName="message" autofocus />
              </div>
              <div class="form-group col-md-12">
                <label for="Image">Image</label><span> * </span>
                <input type="file" id="Image" class="form-control" formControlName="imageFileName" autofocus />
              </div>

             

              <br>
             
                <button class="btn btn-primary" type="submit">
                Send Notification to App Users
                </button>
              
      
              <!--added save button-->
              <!-- <button class="btn btn-primary" (click)="save()" [disabled]="deliveryboyaddform.invalid">
              <i class="fa fa-check  me-2"></i>
              {{ '::Save' | abpLocalization }}
              </button> -->
      
            </form>
            
      </div>
    </div>
</div>


