<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ 'City' | abpLocalization }}</h5>
      </div>
      <div class="text-end col col-md-6">

        <!-- Add the "new book" button here -->
        <div class="text-lg-end pt-2">
          <button id="create" class="btn-primary border border-primary" type="button" (click)="createCity()">
            <i class="fa fa-plus  me-2"></i>
            <span>{{ "::Add" | abpLocalization }}</span>
          </button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="card-body">

    <ngx-datatable [rows]="citylist.items" [count]="citylist.totalCount" [list]="list" default>
      

      <ngx-datatable-column
      [name]="'::Actions' | abpLocalization"
      [maxWidth]="150"
      [sortable]="false"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div ngbDropdown container="body" class="d-inline-block">
          <button
            class="btn btn-primary btn-sm dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            ngbDropdownToggle
          >
            <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="editCity(row.id)">
              {{ '::Edit' | abpLocalization }}
            </button>
            <button ngbDropdownItem (click)="delete(row.id)">
              {{ '::Delete' | abpLocalization }}
            </button>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>

      <ngx-datatable-column [name]="'::City Name' | abpLocalization" prop="name">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::State Name' | abpLocalization" prop="stateName">
        </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <!-- <h3>{{ '::Add City' | abpLocalization }}</h3> -->
    <h3>{{ (selectedCity.id ? '::Edit City' : '::Add City' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="cityform" (ngSubmit)="save()">
      <div class="form-group">
        <label for="city-name">City Name</label><span class="required"> * </span>
        <input type="text" id="city-name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors}" placeholder="City Name" formControlName="name" autofocus />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">This field is required</div>
        </div>
      </div>
      <div class="form-group">
          <label for="state-name">State Name</label><span> * </span>
          <select  id="state-name" class="form-select" (change)="changeState($event)" formControlName="stateId"  >
             <option value="">Select</option>
             <option [ngValue]="s.id" *ngFor="let s of state" >{{s.stateName}}</option>               
          </select>
        </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="save()">
      <i class="fa fa-check  me-2"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

