<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ 'All Order List' | abpLocalization }}</h5>
      </div>
      <div class="text-end col col-md-6">

        <!-- Add the "new book" button here -->
        <!-- <div class="text-lg-end pt-2">
            <button class="btn-primary border border-primary" type="button"  routerLink ="/add">
              <i class="fa fa-plus  me-2"></i>
              <span>{{ "::Add" | abpLocalization }}</span>
            </button>
          </div> -->

      </div>
    </div>
  </div>
  <div class="card-body">

    <ngx-datatable [rows]="orderlist.items" [count]="orderlist.totalCount" [list]="list" default>

      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              ngbDropdownToggle>
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>

            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="assignorder(row.id)">
                {{ '::Assign Order' | abpLocalization }}
              </button>
              <!-- <button ngbDropdownItem (click)="editOrder(row.id)">
                    {{ '::Edit' | abpLocalization }}
                  </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button> -->
            </div>


          </div>
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column [name]="'::Number' | abpLocalization" prop="number">
        </ngx-datatable-column> -->
      <ngx-datatable-column [name]="'::Amount' | abpLocalization" prop="amount">
      </ngx-datatable-column>
      <!-- <ng-container [ngClass]="set-color" *ngIf="IsassignOrder">-->
      <ngx-datatable-column [name]="'::Assigned Or Not' | abpLocalization" prop="isAssigned">
       <!--  <ng-template [ngClass]="{red: row.isAssigned ==true, white: row.isAssigned ==false}">

        </ng-template>-->
      </ngx-datatable-column>
    <!--</ng-container>-->
      <ngx-datatable-column [name]="'::Tax Amount' | abpLocalization" prop="tax_Amount">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Discount Amount' | abpLocalization" prop="discount_Amount">
      </ngx-datatable-column>
      <!-- <ngx-datatable-column [name]="'::Notes' | abpLocalization" prop="notes">
        </ngx-datatable-column> -->
      <ngx-datatable-column [name]="'::Status' | abpLocalization" prop="statusName">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Store' | abpLocalization" prop="storeName">
      </ngx-datatable-column>
    </ngx-datatable>

    <abp-modal [(visible)]="isModalOpen">
      <ng-template #abpHeader>
        <!-- <h3>{{ '::Add Currency' | abpLocalization }}</h3> -->
        <h3>{{ (assign ? '::assign order' : '::assign order' ) | abpLocalization }}</h3>
      </ng-template>

      <ng-template #abpBody>
        <form [formGroup]="assignOrderform" (ngSubmit)="save()">
          <div class="form-group">
            <!-- <label for="orderId">Order Id</label><span class="required"> * </span> -->
            <input type="hidden" id="orderId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['orderId'].errors}" placeholder="order Id"
              formControlName="orderId" autofocus />
            <!-- <div *ngIf="submitted && f['orderId'].errors" class="invalid-feedback">
                <div *ngIf="f['orderId'].errors['required']">This field is required</div>
              </div> -->
          </div>
          <div class="form-group">
            <label for="deliveryBoyId">DeliveryBoy Id</label><span class="required"> * </span>
            <!-- <input type="text" id="deliveryBoyId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['deliveryBoyId'].errors}" placeholder="deliveryBoy Id" formControlName="deliveryBoyId" autofocus /> -->
            <select id="deliveryBoyId" class="form-select" formControlName="deliveryBoyId">
              <option value="">Select</option>
              <option [ngValue]="i.deliveryBoyId" *ngFor="let i of boyDetails">{{i.boyName}}</option>
            </select>
            <div *ngIf="submitted && f['deliveryBoyId'].errors" class="invalid-feedback">
              <div *ngIf="f['deliveryBoyId'].errors['required']">This field is required</div>
            </div>
          </div>

        </form>
      </ng-template>

      <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>

        <!--added save button-->
        <button class="btn btn-primary" (click)="save()">
          <i class="fa fa-check  me-2"></i>
          {{ '::Save' | abpLocalization }}
        </button>
      </ng-template>
    </abp-modal>


  </div>
</div>
