<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ 'Cancel Reason List' | abpLocalization }}</h5>
        </div>
        <div class="text-end col col-md-6">
  
          <!-- Add the "new book" button here -->
          <div class="text-lg-end pt-2">
            <button id="create" class="btn-primary border border-primary" type="button" (click)="createreason()">
              <i class="fa fa-plus  me-2"></i>
              <span>{{ "::Add" | abpLocalization }}</span>
            </button>
          </div>
          
        </div>
      </div>
    </div>
    <div class="card-body">
  
      <ngx-datatable [rows]="cancelreasonslist.items" [count]="cancelreasonslist.totalCount" [list]="list" default>
        
  
        <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editreason(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
  
        <ngx-datatable-column [name]="'::Cancel Reason' | abpLocalization" prop="reason">
        </ngx-datatable-column>
        
      </ngx-datatable>
    </div>
  </div>
  
  <!-- Add the modal here -->
  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <!-- <h3>{{ '::Cancel Reason' | abpLocalization }}</h3> -->
      <h3>{{ (selectedReason.id ? '::Edit Cancel Reason' : '::Add Cancel Reason' ) | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody>
      <form [formGroup]="cancelform" (ngSubmit)="save()">
        <div class="form-group">
          <label for="cancelreason">Cancel Reason</label><span class="required"> * </span>
          <input type="text" id="cancelreason" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f['reason'].errors}" placeholder="Cancel Reason" formControlName="reason" autofocus />
          <div *ngIf="submitted && f['reason'].errors" class="invalid-feedback">
            <div *ngIf="f['reason'].errors['required']">This field is required</div>
          </div>
        </div>
        
      </form>
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
  
      <!--added save button-->
      <button class="btn btn-primary" (click)="save()">
        <i class="fa fa-check  me-2"></i>
        {{ '::Save' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>
  
  
