/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

:root {
  --lpx-logo: url('/assets/images/logo.png');
  --lpx-logo-icon: url('/assets/images/logo-icon.png');
  --lpx-brand: #edae53;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #9F2FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9F2FFF, #0BB1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9F2FFF, #0BB1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.lpx-content-container .lpx-content {
  max-width: 100% !important;
}

#toast-container.toast-top-right {
  top: 8%;
}

.toast-container {
  position: fixed;
}

label {
  color: #666;
  font-weight: 600;
}

.form-group span {
  color: red;
}

.dropdown-btn span {
  color: #000;
}

.form-group {
  margin-top: 1rem !important;
}

select.form-select option:checked,
select.form-select option:focus,
select.form-select option:active {
  background: #0d6efd !important;
}

.btn-primary{
  background-color: #0BB1D3 !important;
  border-color: #0BB1D3 !important;
  border-radius: 4px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: #fff !important;
}

.border-primary{
  border-color: #0BB1D3 !important;
}

.btn-secondary{
  border-radius: 4px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.bg-soft-danger {
  color: #f46a6a !important;
  background-color: rgba(244,106,106,.25)!important;
}

.bg-soft-success {
  color: #34c38f !important;
  background-color: rgba(52,195,143,.25)!important;
}

.bg-soft-warning {
  color: #f1b44c !important;
  background-color: rgba(241,180,76,.25)!important;
}

.bg-soft-info {
  color: #50a5f1 !important;
  background-color: rgba(80,165,241,.25)!important;
}

.lpx-nav-menu .lpx-menu-item-link.selected .lpx-menu-item-icon, .lpx-nav-menu .lpx-menu-item-link.selected .dd-icon{
  color: #0BB1D3 !important;
}

.lpx-nav-menu .lpx-menu-item-link:hover .lpx-menu-item-icon{
  color: #0BB1D3 !important;
}

.lpx-language-selection .dropdown-toggle .lpx-icon{
  color: #0BB1D3 !important;
}

.lpx-sidebar-container::-webkit-scrollbar {
  width: .3em;
}

.lpx-sidebar-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.lpx-sidebar-container::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid grey;
}