<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ 'Product Attribute' | abpLocalization }}</h5>
        </div>
        <div class="text-end col col-md-6">
  
          <!-- Add the "new book" button here -->
          <div class="text-lg-end">
            <button class="btn-primary border border-primary" type="button"
              routerLink="/product-attribute/add">
              <i class="fa fa-plus me-2"></i>
              <span>{{ "::Add" | abpLocalization }}</span>
            </button>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="card-body">
  
      <ngx-datatable [rows]="allProductAttribute?.items" [count]="allProductAttribute?.totalCount" [list]="list" default>
  
  
        <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                ngbDropdownToggle>
                <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
              </button>
              <div ngbDropdownMenu>
                <a [routerLink]="['/product-attribute/'+ row.id.toString() +'']" ngbDropdownItem>
                  <!-- (click)="editCategory(row.id)" -->
                  {{ '::Edit' | abpLocalization }}
                </a>
                <button ngbDropdownItem (click)="deleteProductAttribute(row.id)">
                  {{ '::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column [name]="'::Product Attribute Name' | abpLocalization" prop="attributeName">
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  
    <!-- <ngx-datatable-column
          [name]="'::Actions' | abpLocalization"
          [maxWidth]="150"
          [sortable]="false"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button
                class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                ngbDropdownToggle
              >
                <i class="fa fa-cog  me-2"></i>{{ '::Actions' | abpLocalization }}
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="editState(row.id)">
                  {{ '::Edit' | abpLocalization }}
                </button>
                <button ngbDropdownItem (click)="delete(row.id)">
                  {{ '::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
     -->
    <!-- <ngx-datatable-column [name]="'::Category Name' | abpLocalization" prop="category_name">
          </ngx-datatable-column>
         <ngx-datatable-column [name]="'::typeOf' | abpLocalization" prop="typeOf">
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'::primary_Value' | abpLocalization" prop="primary_Value">
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'::secondary_Value' | abpLocalization" prop="secondary_Value">
          </ngx-datatable-column> -->
  
    <!-- </ngx-datatable>  -->
  </div>
  

