<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="text-dark"><i class="fa fa-rupee"></i> {{dashboardCounts?.todaysrevenue}}</h4>
            <label class="text-dark fs-5">Today's Revenue</label>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/revenue.png" alt="Orders">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="text-dark">{{dashboardCounts?.allorders}}</h4>
            <label class="text-dark fs-5">Total Orders</label>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/order.png" alt="Orders">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="text-dark">{{dashboardCounts?.todaysorders}}</h4>
            <label class="text-dark fs-5">Today's Orders</label>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/order.png" alt="Orders">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="text-dark">{{dashboardCounts?.pendingorders}}</h4>
            <label class="text-dark fs-5">Pending Orders</label>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/order.png" alt="Orders">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Recent Orders</h4>
        <ul class="activity-feed mb-0 ps-3">
          <li class="feed-item" *ngFor="let data of dashboardCounts?.recentorders">
            <div class="feed-item-list">
              <p class="text-muted mb-1 font-size-13">{{data.deliveryDate}}<small class="d-inline-block ms-1">{{data.deliveryTime}}</small></p>
              <p class="mb-0">
                <label>Order Number : <a href="#" class="text-primary">#{{data.orderNumber}}</a> </label>
                <label class="ms-3 float-end"><span class="badge bg-soft-warning pt-1 pb-2 mt-0">{{data.orderStatus}}</span></label>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
