/* Styles for the home component *//* Styles for the home component */
.card{
    border: none !important;
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%) !important;
}

.activity-feed{
    height: 340px;
    overflow-y: scroll;
}

.activity-feed li{
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.activity-feed li a{
    text-decoration: none;
}

.activity-feed {
    line-height: 1.5em;
    list-style-type: "◎";
    color: #9a34fd;
}

.activity-feed::-webkit-scrollbar {
    width: .2em;
}
 
.activity-feed::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
 
.activity-feed::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  outline: 1px solid lightgrey;
}